{% extends "base.html" %}
{% block title %}Events | {% endblock %}
{% block content %}
    <form action="{% url "events:index" %}" method="get">
        <fieldset>
            <legend>Filter Results</legend>
            <label>
                ID
                <input type="number" name="id" value="{{ query.id }}">
            </label>
            <label>
                Title
                <input type="text" name="title" value="{{ query.title }}">
            </label>
            <label>
                Events after
                <input type="datetime-local" name="after" class="search-date"
                       placeholder="YYYY-MM-DD" data-date-format="yyyy-mm-dd" value="{{ query.after }}">
            </label>
            <label>
                Events before
                <input type="datetime-local" name="before" class="search-date"
                       placeholder="YYYY-MM-DD" data-date-format="yyyy-mm-dd" value="{{ query.before }}">
            </label>
            <button>Search</button>
        </fieldset>
    </form>

    {% if events %}
        {% for event in events %}
            <section>
                <h3>{{ event.title }}</h3>
                <p class="events-duration">{{ event.duration }}</p>
                <p class="events-description">{{ event.description }}</p>
            </section>
        {% endfor %}
    {% else %}
        <p>There are no events that match your search query.</p>
    {% endif %}
{% endblock %}
