{% extends "base.html" %}

{% load markdown_deux_tags %}
{% load staticfiles %}

{% block title %}Events | {% endblock %}

{% block content %}
    <h2>Events</h2>

    <form action="{% url "events:index" %}" method="get">
        <fieldset class="fieldset">
            <legend>Filter Results</legend>
            <label class="medium-6 large-3 columns">
                ID
                <input type="number" name="id" value="{{ query.id }}">
            </label>
            <label class="medium-6 large-3 columns">
                Title
                <input type="text" name="title" value="{{ query.title }}">
            </label>
            <label class="medium-6 large-3 columns">
                Events after
                <input type="datetime-local" name="after" class="search-date"
                       placeholder="YYYY-MM-DD" data-date-format="yyyy-mm-dd" value="{{ query.after }}">
            </label>
            <label class="medium-6 large-3 columns">
                Events before
                <input type="datetime-local" name="before" class="search-date"
                       placeholder="YYYY-MM-DD" data-date-format="yyyy-mm-dd" value="{{ query.before }}">
            </label>
            <button class="button expanded">Search</button>
        </fieldset>
    </form>

    <div class="text-center">
        <a href="{% url "events:subscribe" %}" class="button secondary hollow">Subscribe to All Events Posted on UBinE</a>
    </div>

    {% if events %}
        {% for event in events %}
            <section class="callout">
                <h3>{{ event.title }}</h3>
                <p class="events-duration">{{ event.duration }}</p>
                <p class="events-description">{{ event.description|markdown }}</p>
            </section>
        {% endfor %}
    {% else %}
        <p class="callout alert">There are no events that match your search query.</p>
    {% endif %}
{% endblock %}

{% block extra_stylesheets %}
    <link rel="stylesheet" href="{% static "foundation-icons/foundation-icons.css" %}">
    <link rel="stylesheet" href="{% static "css/foundation-datepicker.min.css" %}">
    <style>
        .datepicker td.active.day {
            background-color: rgb(0, 91, 187);
            color: white;
        }
    </style>
{% endblock %}

{% block extra_javascript %}
    <script src="{% static "js/foundation-datepicker.min.js" %}"></script>
    <script>
        $(function() {
            $(".search-date").fdatepicker();
        })
    </script>
{% endblock %}
