{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Locate a Room | {% endblock %}
{% block content %}
    <h2>Locate a Room</h2>

    <p>
        The Ellicott Complex is a group of residence halls at the University at Buffalo, and is made up of six quadrangles.
        Each quadrangle is comprised of at least six buildings each, and each building can have up to ten floors.
        How, then, can one easily locate a room, given only the quadrangle and the room number?
        UBinE is here to help!
    </p>

    <form action="{% url "locate:index" %}" method="get">
        <fieldset class="fieldset">
            <legend>Locate a Room</legend>
            <label class="medium-6 columns">
                Quadrangle
                <select name="quadrangle" required="required">
                    <option value="" selected="selected" disabled="disabled">Select a Quadrangle</option>
                    {% for quad_id, quad_name in quadrangles %}
                        <option value="{{ quad_id }}">{{ quad_name }}</option>
                    {% endfor %}
                </select>
            </label>
            <label class="medium-6 columns">
                Room number
                <input type="number" name="room" required="required" placeholder="Room number">
            </label>
            <button class="button expanded">Search</button>
        </fieldset>
    </form>

    {% if building %}
        <p class="callout success">
            The room {{ quadrangle_name }} {{ room }} is in building {{ building }} on floor {{ floor }}.
        </p>
    {% elif quadrangle or room %}
        <p class="callout alert">We could not find your search query.</p>
    {% endif %}

    {% if quadrangle %}
        <section class="callout">
            <h3>About the {{ quadrangle_name }} Quadrangle</h3>

            <div class="row">
                <div class="medium-9 columns">
                    The <a href="https://www.buffalo.edu/buildings/building?id={{ quadrangle }}">
                    {{ quadrangle_name }} Quadrangle</a> has elevators in:

                    {% if quadrangle == "fargo" %}
                        {% include "locate/info/fargo.html" %}
                    {% elif quadrangle == "porter" %}
                        {% include "locate/info/porter.html" %}
                    {% elif quadrangle == "red_jacket" %}
                        {% include "locate/info/red_jacket.html" %}
                    {% elif quadrangle == "richmond" %}
                        {% include "locate/info/richmond.html" %}
                    {% elif quadrangle == "spaulding" %}
                        {% include "locate/info/spaulding.html" %}
                    {% elif quadrangle == "wilkeson" %}
                        {% include "locate/info/wilkeson.html" %}
                    {% endif %}
                </div>

                <figure id="locate-quad" class="medium-3 columns">
                    {% with "locate/img/"|add:quadrangle|add:".jpg" as image_url %}
                        <img alt="{{ quadrangle_name }}" src="{% static image_url %}">
                    {% endwith %}
                    <figcaption>
                        * The image above was created by and belongs to UB Campus Living.
                    </figcaption>
                </figure>
            </div>
        </section>
    {% endif %}
{% endblock %}