{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}UBinE</title>
    <link rel="stylesheet" href="{% static "css/foundation.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% block extra_stylesheets %}{% endblock %}
</head>
<body>
    <header>
        <h1 class="row"><a href="{% url "index" %}">UBinE</a></h1>
    </header>
    <main class="row">
        {% block content %}{% endblock %}
    </main>
    <footer class="row text-center">
        Disclaimer:
            The contents and link identifiers of this web page are not monitored,
            reviewed, nor endorsed by the State University of New York at Buffalo.
    </footer>

    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/what-input.js" %}"></script>
    <script src="{% static "js/foundation.min.js" %}"></script>
    <script>
      $(document).foundation();
    </script>
    {% block extra_javascript %}{% endblock %}
</body>
</html>